.message {
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

.info {
  color: green;
}

.error {
  color: red;
}

.navigation {
  background: lightgrey;
  padding: 5px;
}

.navigation a, span {
  padding: 5px;
}
